<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dr.Shevchenko</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
    rel="icon"
    type="image/svg+xml"
    href="{{ url_for('static', filename='favicon.svg') }}"
  />
  

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/main.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/lg-transitions.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/work-process.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <section id="header">
      <header>
        <span class="image avatar"
          ><img
            src="{{ url_for('static', filename='images/avatar.jpg') }}"
            alt=""
        /></span>
        <h1 id="logo"><a href="#">Dr.Shevchenko</a></h1>
      </header>
      <nav id="nav">
        <ul>
          <li><a href="#one" class="active">Про мене</a></li>
          <li><a href="#work-process">Робочий процес</a></li>
          <li><a href="#two">Відгуки</a></li>
          <li><a href="#motivation">Моя мотивація</a></li>
        </ul>
      </nav>
      <footer>
        <ul class="icons">
          <li>
            <a
              href="#"
              class="icon brands fa-facebook-f"
              target="_blank"
              ><span class="label">Facebook</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="icon brands fa-instagram"
              target="_blank"
              ><span class="label">Instagram</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="icon brands fa-telegram"
              target="_blank"
              ><span class="label">Telegram</span></a
            >
          </li>
        </ul>
      </footer>
    </section>


    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <!-- One -->
        <section id="one">
          <div class="image main" data-position="center">
            <img src="{{ url_for('static', filename='images/general.jpg') }}" alt="Фото" />
          </div>
          <div class="container">
            <header class="major">
              <h2>Дмитро Миколайович Шевченко</h2>
              <p>стоматолог, якому довіряють</p>
            </header>
            <p>
              Багаторічний досвід, сучасні методики та індивідуальний підхід до
              кожного пацієнта! Вас вітає клініка "Са-Ната"!
            </p>
          </div>
        </section>
<section id="work-process"><div class="container">
          <h3>Робочий процес</h3>
          
            <p>Ексклюзивна можливість стати свідком роботи справжнього професіонала!🦷</p>
      
  <div class="row justify-content-center">
    <div class="card">
              
      <img class="img-responsive" src="{{ url_for('static', filename='images/gal_work/gal_work_1.jpg') }}" alt="Фото" />
          <div class="card-body">
            <p class="card-text" style="padding: 0;">Стоматологічні інструменти готуються до проведення процедури</p>
          </div>
        </div>

        <div class="card">
              
          <img class="img-responsive" src="{{ url_for('static', filename='images/gal_work/gal_work_2.jpg') }}" alt="Фото" />
              <div class="card-body">
                <p class="card-text" style="padding: 0;">Наша команда стоматологів проводить огляд та лікування пацієнта в стерильних умовах</p>
              </div>
            </div>

            <div class="card">
              
              <img class="img-responsive" src="{{ url_for('static', filename='images/gal_work/gal_work_3.jpg') }}" alt="Фото" />
                  <div class="card-body">
                    <p class="card-text" style="padding: 0;">Аналіз рентгенівського знімку зубів для точної діагностики та планування лікування</p>
                  </div>
                </div>
  </div>
</div></section>
        <!-- Two -->
        <section id="two">
          <div class="container">
            <h3>Відгуки</h3>
            <p>
              Став моїм клієнтом? Залиш відгук!
            </p>
            <form method="post" action="/submit_feedback">
              <div class="row gtr-uniform">
                <div class="col-12">
                  <input
                    type="text"
                    name="subject"
                    id="subject"
                    placeholder="к-сть зірочок"
                  />
                </div>
                <div class="col-12">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="твоє ім’я"
                  />
                </div>
                <div class="col-12">
                  <textarea
                    name="message"
                    id="message"
                    placeholder="позитивний відгук"
                    rows="6"
                  ></textarea>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li>
                      <input
                        type="submit"
                        class="primary"
                        value="Надіслати"
                      />
                    </li>
                  </ul>
                </div>
              </div>
            </form>
            
            <hr class="feedback-hr"/>
            <h4>Усі відгуки</h4>
            <ul>
              {% for fb in feedbacks %}
                <li><strong>{{ fb.subject }}⭐</strong> – <em>{{ fb.name }}</em>: {{ fb.message }}</li>
              {% else %}
                <li>Поки що відгуків немає</li>
              {% endfor %}
            </ul>
            

          </div>
        </section>

        <!-- Three -->
        <section id="motivation">
          <div class="container">
            <h3>Моя мотивація</h3>
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="1"
                ></li>
                <li
                  data-target="#carouselExampleIndicators"
                  data-slide-to="2"
                ></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='images/pic1.jpg') }}" class="d-block w-100" alt="Фото" />

                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/pic2.jpg') }}" class="d-block w-100" alt="Фото" />

                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/pic3.jpg') }}" class="d-block w-100" alt="Фото" />

                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-target="#carouselExampleIndicators"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-target="#carouselExampleIndicators"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </button>
            </div>
          
          </div>
        </section>



      
      <!-- Footer -->
      <section id="footer">
        <div class="container">
          <p class="copyright">інформаційна сторінка стоматолога клініки "Са-Ната"</p>
          <div style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    text-align: left;
">
          <ul class="copyright">
            <li>співпраця & запитання</li>
            <li>пиши в тг: <a href="https://t.me/s/v_duma">@v_duma</a></li>
          </ul>
          <ul class="copyright copyright-sec">
            <li>для співробітників клініки:</li>
            <li><a href="/register" >Реєстрація</a> | <a href="/login" target="_blank">Вхід</a></li>
          </ul>
        </div>
          
        </div>
        </div>
      </section>

      
    </div>



    
  <!-- JS -->
 <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/js/lightgallery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/plugins/thumbnail/lg-thumbnail.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

 <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
 <script src="{{ url_for('static', filename='js/util.js') }}"></script>
 <script src="{{ url_for('static', filename='js/main.js') }}"></script>
 <script>
   document.addEventListener("DOMContentLoaded", function () {
     setTimeout(() => {
       document.getElementById("loading-overlay").style.display = "none";
     }, 300);
   });
 </script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
   
    const loginButtons = document.querySelectorAll(".universal-auth");
    loginButtons.forEach(btn => {
      btn.addEventListener("click", () => {
        const loginSection = document.getElementById("login-section");
        loginSection.style.display = "block";
        loginSection.scrollIntoView({ behavior: "smooth" });
      });
    });
  
  });
  </script>
  </body>
</html>
